@font-face
  font-family colfax
  src url('../fonts/colfax-thin.otf') format('opentype')
  font-weight 100
  
@font-face
  font-family colfax
  src url('../fonts/colfax-thin-italic.otf') format('opentype')
  font-weight 100
  font-style italic

@font-face
  font-family colfax
  src url('../fonts/colfax-light.otf') format('opentype')
  font-weight 300
  
@font-face
  font-family colfax
  src url('../fonts/colfax-light-italic.otf') format('opentype')
  font-weight 300
  font-style italic
  
@font-face
  font-family colfax
  src url('../fonts/colfax-regular.otf') format('opentype')
  font-weight 400
  
@font-face
  font-family colfax
  src url('../fonts/colfax-regular-italic.otf') format('opentype')
  font-weight 400
  font-style italic
  
@font-face
  font-family colfax
  src url('../fonts/colfax-medium.otf') format('opentype')
  font-weight 600
  
@font-face
  font-family colfax
  src url('../fonts/colfax-medium-italic.otf') format('opentype')
  font-weight 600
  font-style italic
  
@font-face
  font-family colfax
  src url('../fonts/colfax-bold.otf') format('opentype')
  font-weight 700
  
@font-face
  font-family colfax
  src url('../fonts/colfax-bold-italic.otf') format('opentype')
  font-weight 700
  font-style italic
  
@font-face
  font-family colfax
  src url('../fonts/colfax-black.otf') format('opentype')
  font-weight 900
  
@font-face
  font-family colfax
  src url('../fonts/colfax-black-italic.otf') format('opentype')
  font-weight 900
  font-style italic

@font-face
  font-family mplus-1mn
  src url('../fonts/mplus-1mn-thin.eot')
  src url('../fonts/mplus-1mn-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/mplus-1mn-thin.woff') format('woff'), url('../fonts/mplus-1mn-thin.ttf') format('truetype')
  font-weight 100

@font-face
  font-family mplus-1mn
  src url('../fonts/mplus-1mn-light.eot')
  src url('../fonts/mplus-1mn-light.eot?#iefix') format('embedded-opentype'), url('../fonts/mplus-1mn-light.woff') format('woff'), url('../fonts/mplus-1mn-light.ttf') format('truetype')
  font-weight 300

@font-face
  font-family mplus-1mn
  src url('../fonts/mplus-1mn-regular.eot')
  src url('../fonts/mplus-1mn-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/mplus-1mn-regular.woff') format('woff'), url('../fonts/mplus-1mn-regular.ttf') format('truetype')
  font-weight 400

@font-face
  font-family mplus-1mn
  src url('../fonts/mplus-1mn-medium.eot')
  src url('../fonts/mplus-1mn-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/mplus-1mn-medium.woff') format('woff'), url('../fonts/mplus-1mn-medium.ttf') format('truetype')
  font-weight 600

@font-face
  font-family mplus-1mn
  src url('../fonts/mplus-1mn-bold.eot')
  src url('../fonts/mplus-1mn-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/mplus-1mn-bold.woff') format('woff'), url('../fonts/mplus-1mn-bold.ttf') format('truetype')
  font-weight 700
