.site-header
  transform translate3D(0,0,0)
  background-position center center
  background-size cover
  overflow visible

  .menu-button
    width 30px
    height 30px
    float right
    position relative
    overflow visible
    
    .bar
      width 30px
      height 2px
      opacity 0.5
      position absolute
      top 14px
      left 0
      transition all 0.3s
      
      &.first
        transform translateY(-12px)
      &.second
        transform translateY(-4px)
      &.third
        transform translateY(4px)
      &.fourth
        transform translateY(12px)
        
  &.open .menu-button
    .bar
      opacity 1
      &.first
        opacity 0
        transform translateY(-12px) scaleX(0.01)
      &.second
        transform translateY(0) rotate(45deg)
      &.third
        transform translateY(0) rotate(-45deg)
      &.fourth
        opacity 0
        transform translateY(12px) scaleX(0.01)
      
  
  .page-title
    z-index 100
    padding 36px 0
    transition all 0.5s
    transition-property opacity, transform
    
    &.faded
      opacity 0
      transform translateY(40px)
      
    h1
      margin 0
      font-weight 600
      font-size 36px
    p
      margin 0
      font-size 18px


  .header-inner
    position relative
    z-index 300
    padding 17px 0 17px 0
    border-bottom 1px solid rgba(black, 0.2)
    line-height 1
    transition border-bottom 0.3s
    clearfix()
    
  .navigation-items
    float left
    clearfix()
    
    a.site-title
      display block
      float left
      clearfix()
      
      .logo
        display block
        float left
        height 30px
        width 30px
        
        path
          transition fill 0.6s
        
    nav
      display block
      margin-left 15px
      float right
      height 30px
      overflow hidden
      transition height 0.3s
      
      ul
        display block
        margin 0
        // margin-top 36px * 0 * (-1)
        list-style none
        position relative
        transition margin-top 0.3s
        clearfix()
        li
          display block
          padding 0
          margin 0
          a
            display block
            font-size 16px
            padding 8px 0 12px 0
            transition color 0.3s
          
          &.menu-item-title
            margin-left 0
            
            a
              padding-left 0
              margin-left 0
              
          &.menu-current
            a
              font-weight 600
  
  &.open
    
    .navigation-items
      nav
        height 36px * menu-item-count
        ul
          margin 0 !important

  @media menu-full
  
    .menu-button
      display none
  
    .header-inner
      padding 50px 0 40px 0
      border-bottom 1px solid rgba(black, 0.2)
      line-height 1
      clearfix()
      
    .navigation-items
      float left
      clearfix()
      
      a.site-title
        display block
        float left
        clearfix()
        
        .logo
          display block
          float left
          height 40px
          width 40px
          
        .title
          display block
          float left
          font-weight 600
          font-size 20px
          padding 12px 10px 8px 20px
          
      nav
        display block
        margin-left 20px
        float right
        transition none
        
        ul
          display block
          margin 0
          margin-top 0 !important
          list-style none
          transition none
          clearfix()
          li
            display block
            padding 0
            margin 0 0 0 10px
            float left
            a
              display block
              font-size 20px
              padding 12px 10px 8px 10px
            
            &.menu-item-title
              a
                font-weight 600
                
          &.positioned
            position relative
            width 400px
            height 40px
            li
              position absolute
              top 0
              left 0
              margin 0
              transform translate3D(0,0,0)
              transition left 0.5s cubic-bezier(1, 0, 0, 1)

    .page-title
      padding 52px 0
      
      h1
        font-weight 300
        font-size 64px
        line-height 1
        margin-bottom 0.4em
      p
        margin-top 6px
        font-size 21px


    &.open
      
      .navigation-items
        nav
          height auto

  &.dark

    .menu-button
      .bar
        background-color white !important

    .page-title
      h1, p
        color white


    .header-inner
      border-bottom 1px solid rgba(white, 0.2)
      
    .navigation-items
      
      a.site-title .logo path 
        fill white
          
      nav ul li a
        color white !important
          
#color
  position absolute
  top 0
  left 0
  right 0
  bottom auto
  height 0
  z-index 200
  transition height 0.6s cubic-bezier(1, 0, 0, 1), background-color 0.6s
  background #eee
