.site-header
  transform translate3D(0,0,0)

  .menu-button
    width 30px
    height 30px
    float right
    position relative
    overflow visible
    
    .bar
      width 30px
      height 2px
      opacity 0.5
      position absolute
      top 14px
      left 0
      transition all 0.3s
      
      &.first
        transform translateY(-12px)
      &.second
        transform translateY(-4px)
      &.third
        transform translateY(4px)
      &.fourth
        transform translateY(12px)
        
  &.open .menu-button
    .bar
      opacity 1
      &.first
        opacity 0
        transform translateY(-12px) scaleX(0)
      &.second
        transform translateY(0) rotate(45deg)
      &.third
        transform translateY(0) rotate(-45deg)
      &.fourth
        opacity 0
        transform translateY(12px) scaleX(0)
      
  
  .page-title
    padding 36px 0
    h1
      margin 0
      font-weight 600
      font-size 36px
    p
      margin 0
      font-size 18px


  .header-inner
    padding 17px 0 17px 0
    border-bottom 1px solid rgba(black, 0.2)
    line-height 1
    clearfix()
    
  .navigation-items
    float left
    clearfix()
    
    a.site-title
      display block
      float left
      clearfix()
      
      .logo
        display block
        float left
        height 30px
        width 30px
        
    nav
      display block
      margin-left 15px
      float right
      height 30px
      overflow hidden
      transition all 0.3s
      
      ul
        display block
        margin 0
        margin-top 36px * -2
        list-style none
        position relative
        transition all 0.3s
        clearfix()
        li
          display block
          padding 0
          margin 0
          a
            display block
            font-size 16px
            padding 8px 0 12px 0
          
          &.menu-title
            margin-left 0
            
            a
              padding-left 0
              margin-left 0
              
          &.menu-current
            a
              font-weight 600
  
  &.open
    
    .navigation-items
      nav
        height 36px * 3
        ul
          margin 0

  @media menu-full
  
    .menu-button
      display none
  
    .header-inner
      padding 50px 0 40px 0
      border-bottom 1px solid rgba(black, 0.2)
      line-height 1
      clearfix()
      
    .navigation-items
      float left
      clearfix()
      
      a.site-title
        display block
        float left
        clearfix()
        
        .logo
          display block
          float left
          height 40px
          width 40px
          
        .title
          display block
          float left
          font-weight 600
          font-size 20px
          padding 12px 10px 8px 20px
          
      nav
        display block
        margin-left 20px
        float right
        transition none
        
        ul
          display block
          margin 0
          list-style none
          transition none
          clearfix()
          li
            display block
            padding 0
            margin 0 0 0 10px
            float left
            a
              display block
              font-size 20px
              padding 12px 10px 8px 10px
            
            &.menu-title
              a
                font-weight 600

    .page-title
      padding 52px 0
      
      h1
        font-weight 300
        font-size 64px
      p
        margin-top 6px
        font-size 21px
