@font-face {
  font-family: 'ColfaxWeb';
  font-weight: regular;
  font-style: normal;
  src: url(../assets/fonts/ColfaxWebRegular.woff) format('woff');
}
@font-face {
  font-family: 'ColfaxWeb';
  font-weight: regular;
  font-style: italic;
  src: url(../assets/fonts/ColfaxWebRegularItalic.woff) format('woff');
}
@font-face {
  font-family: 'ColfaxWeb';
  font-weight: bold;
  font-style: normal;
  src: url(../assets/fonts/ColfaxWebMedium.woff) format('woff');
}
@font-face {
  font-family: 'ColfaxWeb';
  font-weight: bold;
  font-style: italic;
  src: url(../assets/fonts/ColfaxWebMediumItalic.woff) format('woff');
}
