form.newsletter input {
  display: block;
  width: 100%;
}
form.newsletter input[type="submit"] {
  margin-top: 0.5rem;
}

.journal-page .post:first-child > h3:first-of-type {
  margin-top: 0;
}

.journal-page {
  padding-top: 48px;
}
.journal-page.first-page {
  padding-top: 0;
}

.journal-page .post {
  margin-top: 4rem;
}
.journal-page .post:first-child {
  margin-top: 0;
}

.journal-content .post.post-link h1.post-title {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: .5rem;
}
.journal-content .post.post-link h3.post-title {
  font-size: 1.25rem;
  margin-bottom: .25rem;
}

.journal-page .post.post-article h3.post-title {
  font-size: 2rem;
  margin-bottom: .25rem;
}

.journal-content .byline {
  margin-bottom: 1rem;
  color: var(--text-color-subtle);
  display: block;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.05em; */
}

.journal-content .byline .post-date,
.journal-content .byline .reading-time {
  display: inline-block;
  margin-right: 12px;
}
.journal-content .byline .permalink {
  display: inline-block;
  color: var(--text-color-subtle);
}
.journal-content .byline .permalink:hover {
  color: var(--link-color-hover);
}

.journal-content .post-link h1 a::before,
.journal-content .post-link h3 a::before {
  content: '→ ';
}

.journal-entry aside {
  padding-top: 2rem;
}
@media screen and (min-width: 720px) {
  .journal-entry aside {
    padding-top: 7rem;
  }
}

.article-footer {
  background: hsla(var(--link-color-values), 0.06);
  border-radius: 4px;
  padding: 1rem;
}

ul.share-links {
  display: flex;
  margin: 0;
}
ul.share-links li {
  display: block;
  margin: 0 24px 0 0;
}
ul.share-links li a {
  display: flex;
  align-items: center;
  /* color: var(--text-color); */
  opacity: 0.6;
  transform: translate3d(0,0,0);
  transition: all 0.4s;
}
ul.share-links li a:hover {
  opacity: 1;
}
ul.share-links li a svg {
  display: block;
}
ul.share-links li a span {
  display: block;
  line-height: 1rem;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 8px;
}

#footnote-popover {
  position: absolute;
  z-index: 800;
  width: auto;
  background-color: var(--strong-color);
	overflow: visible;
  border-radius: 4px;
  display: flex;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15), 
    0 2px 8px rgba(0,0,0,0.2), 
    0 4px 12px rgba(0,0,0,0.2);
}
@supports (backdrop-filter: blur(10px)) {
  #footnote-popover {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--header-background-blur);
  }
}
#footnote-popover .footnote-text {
  overflow: auto;
  padding: 0.5rem 1rem;
	color: var(--text-color);
  font-size: 0.875rem;
}
#footnote-popover a.reversefootnote,
#footnote-popover a[rev='footnote'],
#footnote-popover a.footnote-backref {
  display: none;
}
#footnote-popover p {
  margin: 0;
}
#footnote-popover .close {
  background: var(--text-color);
  color: #fff;
  display: block;
  text-decoration: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 801;
  border-radius: 50%;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
