.articles

  article
    margin 1.4em 0 2.4em 0
    h2
      font-weight 400
      margin-bottom 0.2em

  .meta
    font-size 0.9em
    color #888
    margin 0 0 0.2em 0
    span
      padding 0 1em 0 0

span.reading-time
  .read-later
    display none

  &:hover
    .time
      display none
    .read-later
      display inline-block

.meta
  letter-spacing 1px
  text-transform uppercase
  font-family font_heading
  span
    display inline-block

#content.single-post
  .meta
    font-size 0.9em
    color #888
    margin 1.2em 0
    span
      padding 0 1em 0 0
