body.journal-page, body.journal-entry
  .post
    p:first-of-type
      margin-top 0
    
    &.article-post
        
      > p:first-of-type
        font-size 1.15em
        margin-bottom 0.8em
        
      .byline
        font-size 0.8em
        color #888
  

body.journal-page
  .post
    margin-bottom 3em
    
    
    &.article-post
      margin-bottom 6em
      
      h3
        font-size 2em
        margin-bottom 0.1em
        
      h4.subtitle
        font-weight 600
        font-size 1em
        margin-top 0.3em
        margin-bottom 0.1em
        opacity 0.8
        
      .byline
        margin-top 1em
        margin-bottom 1.5em
        
    &.link-post
      margin-bottom 6em
      
      h3
        font-size 1.4em
        margin-bottom 0.3em
        
        a.permalink
          opacity 0
          transition opacity 0.3s
          color #aaa
          font-weight 400
          font-size 0.8em
          
        &:hover
          a.permalink
            opacity 1
        
  .link-post + .article-post,
  .article-post + .article-post
    margin-top 6em
    
body.journal-entry
  .site-header
    .page-title
      padding-bottom 0.5em
          
      h1
        margin-bottom 0.1em
      h2
        font-weight 600
        font-size 1.3em
        margin-top 0.2em
        @media menu-full
          font-weight 400
          font-size 1.7em
          margin-top 0.5em
  .post 
    &.article-post, &.link-post
      margin-bottom 0
      .byline
        margin-bottom 2em
        
        @media menu-full
          margin-bottom 5em
        
  .after-article
    background #f8f8f8
    font-size 0.8em
    padding 1em
    color #444
    margin-top 3em
    
    a
      color #222
      font-weight 600


.footnotes
  font-size 0.85em
  color #555

  hr
    width 30%
    border-color #ccc
    margin-bottom 1.6em
    margin-top 3em
    
  p
    margin-bottom 1.3em
    
  a[rev='footnote']
    padding-left 0.6em
