#footnote-popover
	position absolute
	width auto
	overflow auto
	background-color #fff
	border 1px solid #ccc
	color #444
	padding 12px 18px 10px
	border-radius 4px
	box-shadow 0 1px 2px rgba(#000, 0.1), 0 4px 12px rgba(#000, 0.1)
	font-size 0.9em

	a.reversefootnote, a[rev='footnote']
		display none
	p
		margin 0

	.close
		color #444
		opacity 0.4
		text-decoration none
		text-align right
		margin 0
		padding 0 6px
		font-size 20px
		absolute top -3px right
		font-family Arial, sans-serif
		font-weight bold
