#footnote-popover
	position absolute
	width auto
	overflow auto
	background-color #333
	background-color rgba(#333, 0.9)
	color #eee
	padding 10px 18px 14px 18px
	border-radius 4px
	box-shadow 0 6px 12px rgba(#000, 0.3)

	a.reversefootnote
		display none

	p
		margin 0

	.close
		color #fff
		opacity 0.4
		text-decoration none
		text-align right
		margin 0
		padding 0 6px
		font-size 20px
		absolute top -3px right
		font-family Arial, sans-serif
		font-weight bold
