.loupe
  size 180px
  absolute top left
  border-radius 100%
  z-index 4500
  background #fff no-repeat
  pointer-events none
  box-shadow 0 0 0 4px rgba(255, 255, 255, 0.9), 0 0 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 60px 2px rgba(0, 0, 0, 0.10)
  opacity 0
  scale 0.5
  transition transform 200ms, opacity 200ms

  &.visible
    opacity 1
    scale 1

.screen-viewer

  &.iphone5
    background url('/img/iPhone5.png') left top no-repeat
    background-size contain
    height 0
    position relative
    overflow hidden
    padding-bottom ( 841 / 408 ) * 100%
    img
      display block
      cursor none
      position absolute
      top (135 / 841) * 100%
      left (44 / 408) * 100%
      width (320 / 408) * 100%
      height (568 / 841) * 100%
