.zoombox
	a[href$="png"], a[href$="jpg"], a[href$="gif"]
		cursor -webkit-zoom-in
		cursor zoom-in

#zoombox-background
	absolute top 0 left 0
	width 100%
	height 100%
	z-index 9001 // over 9000
	background rgba(#111, 0)
	display none
	cursor -webkit-zoom-out
	cursor zoom-out
	transition background 300ms
	overflow hidden
	pointer-events none

	&.shown
		pointer-events auto
		background rgba(#000, 0.6)

	.zoombox-image
		position absolute
		box-shadow 0 0 1px #000
		background transparent
		border-radius 4px
		transition all 300ms

		&.no-transition
			transition none

		.spinner-holder
			position relative
			width 100%
			height 100%
			opacity 1
			transition opacity 200ms
			background rgba(#000, 0.35)

			.hidden
				opacity 0
				pointer-events none

		&.loading
			img
				// opacity 0.4
		&.zoomed
			box-shadow 0 6px 12px rgba(#000, 0.5)
		img
			position absolute
			size 100%






@-webkit-keyframes rotation
	from
		rotate 0deg
	to
		rotate 359deg
@-moz-keyframes rotation
	from
		rotate 0deg
	to
		rotate 359deg
@-o-keyframes rotation
	from
		rotate 0deg
	to
		rotate 359deg
@keyframes rotation
	from
		rotate 0deg
	to
		rotate 359deg

.spinner
	absolute top 50% left 50%
	size 48px
	margin -24px 0 0 -24px
	animation rotation .4s infinite linear
	border-radius 50%
	box-shadow 0 3px 3px #fff
