extends basic

block content
  .row: .col-content.post( class=( page.link ? 'link-post' : 'article-post' ) )
    .byline
      if page.link
        | Link to 
        a( href=page.link )= page.link
        br
      | Published on 
      = helpers.moment(page.date).format('MMMM Do, YYYY')
      | . Reading time: 
      = page.readingTime + " minute" + ( page.readingTime > 1 ? 's' : '' )
      | .

    != content

    unless page.link
      .after-article
        | If you liked this article, you should 
        a( href='https://twitter.com/lekevicius' ) follow me 
        |  on Twitter or 
        a( href='/feed.xml' ) subscribe 
        |  to this journal via RSS. Or just tell your friends about it, that would be very nice.
