extends basic

block text
  each post in page.posts
    h1: a( href=post.url )= post.title
    p.date= post.date
    != post.content
  
  if page.previousPageURL
    a( href=page.previousPageURL ) Previous
  if page.nextPageURL
    a( href=page.nextPageURL ) Next
