---
{
  "color": "#E94B35",
  "bodyclass": "home",
  "customTitle": "<p>Curiously inventing with design and code</p>"
}
---

extends ../../assets/templates/basic

block content

  .row: .col-t-12.recent-projects
    h6 Recent Projects
    .projects

      .project-row.full
        .project: a(href="/projects/assetpress", style="background-color: #ACE2FF; background-image: url(/projects/assetpress/project-image.jpg)"): .text
          h3 AssetPress
          p The ultimate design asset resizer and workflow tool

      .project-row.halfs
        .project: a(href="/projects/spiralflow", style="background-color: #0040ff; background-image: url(/projects/spiralflow/project-image.jpg)"): .text
          h3 Spiralflow
          p Explore limitless configurations of animated spirals
        .project: a(href="/projects/infinite-loop", style="background-color: #6A7ED9; background-image: url(/projects/infinite-loop/project-image.jpg)"): .text
          h3 Infinite Loop
          p Simple, relaxing and endless game for iOS, Android and browser

      //- .project-row.halfs
      //-   .project: a(href="/projects/assetpress"): .text
      //-     h3 AssetPress
      //-     p Asset workflow for iOS and Android designs
      //-   .project: a(href="/projects/infinite-loop"): .text
      //-     h3 Infinite Loop
      //-     p Simple, relaxing and endless game for iOS, Android and browser.

      //-     .project-row.thirds
      //-       .project: a(href="/projects/air-drawing"): .text
      //-         h3 Air Drawing
      //-         p Drawing in 3D
      //-       .project: a(href="/projects/entree"): .text
      //-         h3 jQuery Footnote Popover Gulp Static Site
      //-         p Fancy transitions between pages
      //-       .project.all-projects: a(href="/projects/"): .text
      //-         h3 All Projects ›


  .row: .col-content.recent-articles
    h6 Recent Articles
    .posts
      - var index = 0
      for post in site.posts
        if index < 3
          if post.link == undefined
            - index++
              .post.clickable-block
                h3: a( href=post.url )= post.title
                p!= post.summary

  //- .row: .col-t-12: p: a(href="/usage") Usage
