---
color: o \#218ba5
bodyclass: home
//- title: AssetPress
//- description: Asset workflow for iOS and Android designs
customTitle: <strong>I am user interface designer working on mobile apps.</strong> I value clarity over aesthetics and I put all my heart into the craftsmanship of every detail.
cover: o /img/covers/index.jpg
---
extends ../../assets/templates/basic

block text
  p: a(href="/usage") Usage
