---
color: #1693A5
bodyclass: home
title_description: <strong>I am user interface designer working on mobile apps.</strong> I value clarity over aesthetics and I put all my heart into the craftsmanship of every detail.
cover: "img/covers/home.jpg"
---
extends ../../assets/templates/basic

block content
  p Hi
