---
color: #1693A5
bodyclass: home
title_description: <strong>I am user interface designer working on mobile apps.</strong> I value clarity over aesthetics and I put all my heart into the craftsmanship of every detail.
cover: <x>img/covers/home.jpg
---
extends ../../assets/templates/base
block content
  .wrap
    .logo.col-m-3
      .logo-image

    .text.col-m-9
      h1= site.title
      p.subheading Designer + Developer

      svg#maze( width=800, height=800 )

      //- pre
      //-   //- - each entry in site.entries
      //-   //-   = entry.contents

      .letter
        p.
          Hi there. Nice to meet you.

        p.
          Let me introduce myself:
          I am head of design at <a href="http://lemonlabs.co/">Lemon Labs</a>,
          responsible for UX and UI design of our client projects.

        p.
          Some of my (old) works are on <a href="https://dribbble.com/lekevicius">Dribbble</a>.
          Occasionally I develop apps and websites,
          publishing all the good stuff on <a href="https://github.com/lekevicius">Github</a>.
          I’m the most active on <a href="https://twitter.com/lekevicius">Twitter</a>,
          tweeting about everything I am passionate about.

        p.
          But that’s about me.
          <br>
          Whom I have pleasure writing to?

        p.
          Looking forward to your hello,
          <br>
          <a href="mailto:jonas@lekevicius.com">jonas@lekevicius.com</a>
