---
title: Work
hue: 70
---
extends ../../assets/templates/base
block content

  .container
    p I love doing almost everything in digital mediums. I can code in many languages, design websites, apps and games, work with logotypes and 3D graphics, and so on. I love learning more than anything else, and I try to learn something new every week.

    p Currently I am not available for freelance projects, but if you need a great team to develop your mobile product, please contact Lemon Labs. We love building amazing things.

    p Companies I have designed for include Hitachi, Brusseles Airlines, Aarhus University, Mochi Media.

    .row
      .col-m-6.work-item
        a( href='/portfolio/akropolis' ): img( src='/portfolio/akropolis/project.png' )
        h4 Vinted <span>app</span>
        p Designed iOS and Android app for the biggest shopping mall in Lithuania.
      .col-m-6.work-item
        img( src='/portfolio/mr-word/project.png' )
        h4 Paysera <span>app</span>
        p Designed iOS and Android app for the biggest shopping mall in Lithuania.
