---
title: Projects
---
extends ../../assets/templates/base
block content

  .container
    p My name is Jonas Lekevicius, I am an interface designer at <a href='http://lemonlabs.lt'>Lemon Labs</a>.

    //- p I love doing almost everything in digital mediums. I can code in many languages, design websites, apps and games, work with logotypes and 3D graphics, and so on. I love learning more than anything else, and I try to learn something new every week.

    p Currently I am not available for freelance projects, but if you need a great team to develop your mobile product, please contact Lemon Labs. We love building amazing things.

    p Best way to reach me is via Twitter or <a href='mailto:jonas@lekevicius.com'>email</a>.

    ul.social
      li.twitter
        a( href='https://twitter.com/lekevicius' ) Twitter
      li.instagram
        a( href='http://instagram.com/lekevicius' ) Instagram
      li.dribbble
        a( href='http://dribbble.com/lekevicius' ) Dribbble
      li.github
        a( href='https://github.com/lekevicius' ) GitHub
      li.linkedin
        a( href='http://www.linkedin.com/in/lekevicius' ) LinkedIn
      li.behance
        a( href='http://www.behance.net/lekevicius' ) Behance
