---
title: Projects
description: I have released a lot of projects over the years - designs, open source code, games, articles - and I am adding all of them here. For client work see the section in the bottom.
color: o \#F56223
bodyclass: projects
---
extends ../../assets/templates/basic

block content
  .row: .col-t-12.all-projects
    .projects

      .project-row.full
        .project: a(href="/projects/infinite-loop", style="background-color: #6A7ED9; background-image: url(/projects/infinite-loop/project-image.jpg)"): .text
          h3 Infinite Loop
          p Simple, relaxing and endless game for iOS, Android and browser.

  .row
    .col-content
      h3 Client work

      p I have been doing client work of all kinds - websites, apps, games, magazines, videos - for over 10 years. Currently I have no need for an online portfolio and I do not do any freelance or contract work. However, I would like to mention a couple of clients that I had pleasure to work with, either as a freelance or through a company.

  .row.client-logos
    .col-m-3.col-t-6: img(src="/projects/logos/cocacola.png" alt="Coca-Cola")
    .col-m-3.col-t-6: img(src="/projects/logos/hitachi.png" alt="Hitachi")
    .col-m-3.col-t-6: img(src="/projects/logos/brusselsairlines.png" alt="Brussel's Airlines")
    .col-m-3.col-t-6: img(src="/projects/logos/barclays.png" alt="Barclay's")

    .col-m-3.col-t-6: img(src="/projects/logos/memorado.png" alt="Memorado")
    .col-m-3.col-t-6: img(src="/projects/logos/vinted.png" alt="Vinted")
    .col-m-3.col-t-6: img(src="/projects/logos/trafi.png" alt="Trafi")
    .col-m-3.col-t-6: img(src="/projects/logos/martini.png" alt="Martini")

    .col-m-3.col-t-6: img(src="/projects/logos/akropolis.png" alt="Akropolis")
    .col-m-3.col-t-6: img(src="/projects/logos/teo.png" alt="TEO")
    .col-m-3.col-t-6: img(src="/projects/logos/coffeeinn.png" alt="Coffee Inn")
    .col-m-3.col-t-6: img(src="/projects/logos/login.png" alt="Login Conference")

    //- .col-m-3.col-t-6: h6 Dell
    //- .col-m-3.col-t-6: h6 20th Century Fox
    //- .col-m-3.col-t-6: h6 Pašvaistė
    //- .col-m-3.col-t-6: h6 Ciurlionis
    //- .col-m-3.col-t-6: h6 Flash Gaming Summit
    
    
    
