---
title: HTML Elements Guide
---
extends ../../assets/templates/base
block content

  .container
    p.lead This private page describes available HTML elements and their CSS classes. It's meant to aid style development and document future usage.

    h2 Typography

    h3 Headings

    h1
      | Heading 1
      small Small Text
    h2
      | Heading 2
      small Small Text
    h3
      | Heading 3
      small Small Text
    h4
      | Heading 4
      small Small Text
    h5
      | Heading 5
      small Small Text
    h6
      | Heading 6
      small Small Text

    h3 Body Copy

    p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    ul
      li <strong>Strong - important, key pharase</strong>
      li <b>Bold - highlighting without importance</b>
      li <em>Emphasis - more attention</em>
      li <i>Italic - voice, tone, technical terms</i>
      li <small>Small - fine print</small>

    h3 Misc. Text Elements

    p.text-left Left aligned text.
    p.text-center Center aligned text.
    p.text-right Right aligned text.

    :markdown
      Paragraph with a footnote[^foot] demo.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. For the sake of demo, here[^2] is another one.

      Lorem ipsum dolor sit amet[^long], consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      [^foot]: Footnotes are the best way to show side-ideas.
      [^2]: Another explanation - how exciting!
      [^long]: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    p An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>
    p <abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.

    address
      strong Twitter, Inc.
      br
      | 795 Folsom Ave, Suite 600
      br
      | San Francisco, CA 94107
      br
      <abbr title="Phone">P:</abbr> (123) 456-7890

    address
      strong Full Name
      br
      a( href="mailto:#" ) first.last@example.com

    h3 Blockquotes

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    blockquote
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    blockquote.feature
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    blockquote
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      small
        | Someone famous in
        cite( title="Source Title" ) Source Title

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    blockquote.pull-right.col-s-12.col-m-5
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      small
        | Someone famous in
        cite( title="Source Title" ) Source Title

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    blockquote.pull-left.col-s-12.col-m-5
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      small
        | Someone famous in
        cite( title="Source Title" ) Source Title

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .clearfix
    hr

    h3 Lists

    ul
      li Lorem ipsum dolor sit amet
      li Consectetur adipiscing elit
      li Integer molestie lorem at massa
      li Facilisis in pretium nisl aliquet
      li
        | Nulla volutpat aliquam
        ul
          li Phasellus iaculis neque
          li Purus sodales ultricies
          li Vestibulum laoreet porttitor sem
          li Ac tristique libero volutpat at
      li Faucibus porta lacus fringilla vel
      li Aenean sit amet erat nunc
      li Eget porttitor lorem

    ol
      li Lorem ipsum dolor sit amet
      li Consectetur adipiscing elit
      li Integer molestie lorem at massa
      li Facilisis in pretium nisl aliquet
      li
        | Nulla volutpat aliquam
        ol
          li Phasellus iaculis neque
          li Purus sodales ultricies
          li Vestibulum laoreet porttitor sem
          li Ac tristique libero volutpat at
      li Faucibus porta lacus fringilla vel
      li Aenean sit amet erat nunc
      li Eget porttitor lorem

    ul.unstyled
      li Lorem ipsum dolor sit amet
      li Consectetur adipiscing elit
      li Integer molestie lorem at massa
      li Facilisis in pretium nisl aliquet
      li
        | Nulla volutpat aliquam
        ul
          li Phasellus iaculis neque
          li Purus sodales ultricies
          li Vestibulum laoreet porttitor sem
          li Ac tristique libero volutpat at
      li Faucibus porta lacus fringilla vel
      li Aenean sit amet erat nunc
      li Eget porttitor lorem

    ul.inline
      li Lorem ipsum dolor sit amet
      li Consectetur adipiscing elit
      li Integer molestie lorem at massa
      li Facilisis in pretium nisl aliquet

    dl
      dt Description lists
      dd A description list is perfect for defining terms.

      dt Euismod
      dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      dd Donec id elit non mi porta gravida at eget metus.

      dt Malesuada porta
      dd Etiam porta sem malesuada magna mollis euismod.

    dl.horizontal
      dt Description lists
      dd A description list is perfect for defining terms.

      dt Euismod
      dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      dd Donec id elit non mi porta gravida at eget metus.

      dt Malesuada porta
      dd Etiam porta sem malesuada magna mollis euismod.

    hr

    h2 Responsive Media

    h3 Images

    .row( style='background-color: #333; margin-top: 20px; margin-bottom: 20px; padding-top: 40px; padding-bottom: 40px;' )
      .col-m-6.text-center
        img( src='/assets/images/logo.png' )
      .col-m-6.text-center
        img( src='/assets/images/menu.png', width=32, height=40 )

    a( href='http://google.com' )
      img( src='/journal/2013/02/peacock.jpg' )

    h3 Videos
    .video
      <iframe width="560" height="315" src="http://www.youtube-nocookie.com/embed/v1uyQZNg2vE?rel=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

    hr

    h2 Tables

    h3 Basic Table
    table
      thead
        tr. <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th>
      tbody
        tr. <td>1</td><td>Mark</td><td>Otto</td><td>@mdo</td>
        tr. <td>2</td><td>Jacob</td><td>Thornton</td><td>@fat</td>
        tr. <td>3</td><td>Larry</td><td>the Bird</td><td>@twitter</td>

    h3 Condensed Table
    table.condensed
      thead
        tr. <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th>
      tbody
        tr. <td>1</td><td>Mark</td><td>Otto</td><td>@mdo</td>
        tr. <td>2</td><td>Jacob</td><td>Thornton</td><td>@fat</td>
        tr. <td>3</td><td>Larry</td><td>the Bird</td><td>@twitter</td>

    h3 Bordered Table
    table.bordered
      thead
        tr. <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th>
      tbody
        tr. <td>1</td><td>Mark</td><td>Otto</td><td>@mdo</td>
        tr. <td>2</td><td>Jacob</td><td>Thornton</td><td>@fat</td>
        tr. <td>3</td><td>Larry</td><td>the Bird</td><td>@twitter</td>

    h3 Striped Table
    table.striped
      thead
        tr. <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th>
      tbody
        tr. <td>1</td><td>Mark</td><td>Otto</td><td>@mdo</td>
        tr. <td>2</td><td>Jacob</td><td>Thornton</td><td>@fat</td>
        tr. <td>3</td><td>Larry</td><td>the Bird</td><td>@twitter</td>

    h3 Hover Table
    table.hover
      thead
        tr. <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th>
      tbody
        tr. <td>1</td><td>Mark</td><td>Otto</td><td>@mdo</td>
        tr. <td>2</td><td>Jacob</td><td>Thornton</td><td>@fat</td>
        tr. <td>3</td><td>Larry</td><td>the Bird</td><td>@twitter</td>

    h3 Responsive Table
    .table-responsive
      table
        thead
          tr. <th>#</th><th>Table heading</th><th>Table heading</th><th>Table heading</th><th>Table heading</th><th>Table heading</th><th>Table heading</th>
        tbody
          tr. <td>1</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td>
          tr. <td>2</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td>
          tr. <td>3</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td>
          tr. <td>4</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td><td>Table cell</td>

    //- h3 Markdown Table
    //- :markdown
    //-   | Header1 | Header2 | Header3 |
    //-   |:--------|:-------:|--------:|
    //-   | cell1   | cell2   | cell3   |
    //-   | cell4   | cell5   | cell6   |
    //-   |----
    //-   | cell1   | cell2   | cell3   |
    //-   | cell4   | cell5   | cell6   |
    //-   |=====
    //-   | Foot1   | Foot2   | Foot3

    hr

    h2 Code

    //- :markdown

    //-   Code can be `inline` or in syntx-highlighted blocks.

    //-   ~~~ coffeescript
    //-   $ ->
    //-     setLogoColors Math.floor(Math.random() * 360), true

    //-     if $('img').length
    //-       $(window).on 'load', -> setBodyHeight()
    //-     else
    //-       setBodyHeight()

    //-     $(window).on 'load', -> delay 0, -> window.scrollTo(0, 1)

    //-     $(window).on 'resize', -> setBodyHeight()

    //-     $(document).pjax "a[href^='/']", '#main', { fragment: "#main" }
    //-     $(document).on 'pjax:start', ->
    //-       setLogoColors Math.floor(Math.random() * 360)
    //-     $(document).on 'pjax:end', ->
    //-       setBodyHeight()

    //-     $('.menu-button').on 'click', ->
    //-       $('header nav ul').toggleClass 'shown'
    //-   ~~~

    hr

    h2 Helpful classes

    img( src: 'http://placehold.it/150x150' )
    img.rounded( src: 'http://placehold.it/150x150' )
    img.circle( src: 'http://placehold.it/150x150' )
