---
title: Infinite Loop
description: Simple, relaxing and endless game for iOS, Android and browser.
color: o \#6A7ED9
bodyclass: project infinite-loop
---

extends ../../../assets/templates/basic
block content

  .row
    img.spaced-1-bottom(src="/projects/infinite-loop/devices.png")

  .row: .col-content
      p Infinite Loop is a very simple, relaxing and never ending game for iPhone, iPad, Android and browser. Your goal is to turn all forms on the grid so that there would be no open connections. Most levels are algorithmically generated and randomly colored, and after successfully completing each level you will be rewarded with a beautiful design of your own making.

      p.spaced-2: a.button.color-border( href="http://loop.lekevicius.com" ) Download or Play Infinite Loop

      Authors

      dl

        dt Idea, design, music, iOS and web development
        dd Jonas Lekevicius

        dt Android development
        dd Balys Valentukevicius

        dt Custom level design
        dd Juste Ziliute
        dd Jonas Lekevicius
        dd Tomas Dirvonskas

      //- h2 Making of

      //- p In the evening before March 11th, Re-establishment of Lithuania's Independence and a non-working day, I remembered a game idea that I had in my backlog for years.

      //- h6 Tuesday, March 10th 2015

      //- p In the evening I developed a HTML prototype. It had static, grey design, basic level generator and clicking to rotate shapes. It looked like a simple and quite addictive game that would be entirely possible to build in a day.

      //- h6 Wednesday, March 11th 2015

      //- p Non-working day, so I had an entire day to build the game. I chose to develop it in Swift and SpriteKit, having never really used neither of these before. Some like to do quick hacks in technologies they know well, I like to learn by making something real.

      //- p By the end of the day, I had entire game built, with proper level generator, dynamic colors and color transition after the level was completed, winning condition handling. It was no longer just a prototype, but a game, almost ready for release.

      //- h6 Thursday, March 12th 2015

      //- p Back at work I gave the game for co-workers to play test. Most really liked it, but jumping immediately to fairly complicated levels wasn't the best introduction to the game. The game was lacking a ramp up in difficulty and some kind of tutorial.

      //- p I spent the evening making a level editor to design these tutorial levels.

      //- h6 Friday, March 13th 2015

      //- p I shared the level editor with another designer, Juste, and asked her to design some pretty levels. A bunch of them are now shown randomly throughout the game.

      //- p While she was making awesome custom levels, I developed all the missing functionality: analytics and saving level progress.
    
      //- h6 Saturday, March 14th 2015

      //- p I spent entire Saturday making music and sounds. I have bought Ableton Live back in summer but haven't ever made a song with it. This seemed like a good way to learn the application.

      //- h6 Sunday, March 15th 2015

      //- p Live was awesome, my background music - not so much. On Sunday morning I didn't like anything I made on Saturday, and started making a much simpler background music. Simplification helped, and made it much easier for myself to like my own work.
      
      //- p I made screenshots (iPhone 4, 5, 6, 6 Plus, iPad!), video preview, and submitted the app to the App Store.

      //- h6 Monday, March 16th 2015

      //- p 
