---
title: Akropolis
color: o \#dd0000
cover: o /portfolio/akropolis/cover.jpg
bodyclass: work akropolis
---

extends ../../../assets/templates/base
block content
  .container
    section.articles
      h1 Hey

//- .container
//-   %p.work-lead
//-     Akropolis is a brand of the biggest shopping malls in Lithuania. They wanted an app, and we at Lemon Labs helped them with idea, design and development. My role in this project was helping to define the user experience and designing the entire user interface.

//-   .row
//-     .col-m-4.col-s-6
//-       .screen-viewer.iphone5
//-         %img.screen{ src: '/portfolio/akropolis/screen.png' }
//-     .col-m-4.col-s-6
//-       .screen-viewer.iphone5
//-         %img.screen{ src: '/portfolio/akropolis/screen2.png' }

//-   %h3 The New Navigation Bar. And the New Tab Bar.
//-   .row
//-     .col-m-6
//-       .switcher
//-         .left-option.current Current section
//-         .right-option All sections
//-     .col-m-6
//-       %p To make as much space for the content and interface as psossible, we came up with a new concept for navigating between the screens and showing actions for the current screen by merging tab bar and navigation bar into one element. The "More" button toggles between two modes, switching between current page title with related actions, and a tab bar with all sections of the app. This allows to have an entire chrome of the app fit into a single a bar.


//-   %h3.unseen The Shopping Cart as a To Do List

//- .full.shopping-cart
//-   .container
//-     .row
//-       .col-m-4
//-         Phone
//-       .col-m-4
//-         Phone
//-       .col-m-4
//-         Phone

//- .container
//-   %h3 Creating the Best Indoor Maps
//-   .row
//-     .col-m-8
//-       %p It was clear from the beginning that navigating the shopping mall can be overwhelming, and maps in an app can definitely help users. However, when exploring our options, we were not satisfied with any existing solution and libraries. Naturally, we decided not to settle with something we were not entirely happy with, and design and develop our own solution.
//-       %p Our mapping solution allows for easy routing between any two shops, selected either through a map, or from a list, even between floors. It makes sure user does not get lost by displaying easy to understand instructions and animations. Even more, the map is integrated with a shopping cart and highlighs the shops that have any items user has added to the list.
//-     .col-m-4
//-       Phone

//- .full.shopmob.dark.unseen{ :'data-appearance-min-height' => '0.5' }
//-   .container
//-     %h3 Shop Mobs are Sales of Smartphone Age
//-     %p The last feature of the app was initially hidden from the users, waiting for it's big reveal. One of our big ideas for a shopping mall app was to leverage immediate communication with users through notifications, and create a new kind of sale we called Shop Mob. These sales are not pre-announced, and last only a couple of hours. Users receive notifications about the sale, and if they want to participate, they have to get to the mall fairly quickly. Each user also receives a custom code (which makes the sale exclusive to app users and allows usage tracking) to unlock the discount or gift.
//-     .row
//-       .col-m-4
//-         Phone
//-       .col-m-4
//-         Phone
//-       .col-m-4
//-         Phone

//- .container
//-   %h3 Two Platforms: Same Features, Same Native Feel
//-   %p The app was designed and developed both for iOS and Android at the same time. While the features and the feel of design were the same, UI elements and their look were chosen fitting to that OS. It meant using action sheet for iOS and options pop-up for Android; gradients, shadows and Helvetica for iOS, and flat elements and Roboto for Android. Customizations were using the same ideas, but applied to each OS individually.

//-   .row
//-     .col-m-4.col-m-push-4
//-       .switcher
//-         .left-option.current iOS
//-         .right-option Android


//-   %p.highlighted.unseen{ :'data-appearance-offset-top' => '200' } Akropolis app is available for iOS and Android.
//-   %p.subtext (In Lithuanian markets)

//- / .more-works
//- /   .container
//- /     %h3 More of my work
//- /     .row
//- /       %a.col-m-4.work-item{ href: '/work/lunchbox' }
//- /         %img{ src: '/work/lunchbox/project.png' }
//- /         %h4 Lunchbox <span>app and website</span>
//- /         %p Helping users locate the best daily lunch offers.
//- /       %a.col-m-4.work-item{ href: '/work/lunchbox' }
//- /         %img{ src: '/work/gifty/project.png' }
//- /         %h4 Gifty <span>app</span>
//- /         %p Another app featuring both iOS and Android design.
//- /       %a.col-m-4.work-item{ href: '/work/lunchbox' }
//- /         %img{ src: '/work/vienasaskaita/project.png' }
//- /         %h4 VienaSaskaita <span>app</span>
//- /         %p Little app with plenty of custom UI.
