html, body, #page
    background #f2f2f2
    transition background-color 300ms
    touch-callout none
    user-select none
    &.slow-transition
        transition background-color 900ms

.game-holder
    position absolute
    top 50%
    left 50%
    // background rgba(255,0,0,0.1)
    
.game
    position relative
    height 100%
    width 100%

.tile, .tile-won
    position absolute
    cursor pointer
    -webkit-tap-highlight-color rgba(0,0,0,0)
    -webkit-tap-highlight-color: transparent
    tap-highlight-color rgba(0,0,0,0)
    tap-highlight-color: transparent
    outline: 0
