---
{
  "title": "Spiralflow",
  "description": "Explore infinite spirals",
  "color": "#0040ff",
  "bodyclass": "project spiralflow"
}
---

extends ../../../assets/templates/basic
block content
  .row
    img.spaced-1-bottom(src="/projects/infinite-loop/devices.png")

  .row: .col-content
      p Infinite Loop is a very simple, relaxing and never ending game for iPhone, iPad and Android. Your goal is to turn all forms on the grid so that there would be no open connections. Most levels are algorithmically generated and randomly colored, and after successfully completing each level you will be rewarded with a beautiful design of your own making.

      p.spaced-2: a.button.color-border( href="http://loop.lekevicius.com" ) Download Infinite Loop

      p Authors

      dl
        dt Idea, design, music and iOS development
        dd Jonas Lekevicius

        dt Android development
        dd <a href="https://github.com/balysv">Balys Valentukevicius</a>

        dt Custom level design
        dd Juste Ziliute
        dd Jonas Lekevicius

        dt Inspired by
        dd Flash game "Loops of Zen" by Dr. Arend Hintze
