form {
  margin-bottom: 1rem;
}
optgroup {
  font-weight: 700;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  margin-bottom: 1.45rem;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

input {
  background: transparent;
  border: 1px solid var(--border-color);
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s;
}
input:focus {
  background: var(--strong-color);
  outline: none;
  border-color: var(--strong-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2)
}
button,
input[type="submit"] {
  border: 0;
  background: hsla(var(--link-color-values), 0.08);
  color: var(--link-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  transition: all 0.3s;
  cursor: pointer;
}
button:hover,
input[type="submit"]:hover {
  border: 0;
  background: var(--link-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  color: #fff;
}