*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  font-size: 100%;
  line-height: 1.5em;
  font-family: var(--font-body);
  box-sizing: border-box;
  overflow-y: scroll;
}

@media only screen and (min-width: 560px) {
  html {
    font-size: 112.5%;
    line-height: 1.5556em;
  }
}

body {
  margin: 0;
  background: var(--body-background);
  color: var(--text-color);
  font-weight: normal;
  word-wrap: break-word;

  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block;
}
audio, canvas, progress, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}

img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  color: var(--text-color);
}
button,
input {
  overflow: visible;
}
textarea {
  overflow: auto;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
button,
select {
  text-transform: none;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: var(--text-color-subtle);
  /* opacity: .54; */
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}

h1, h2, h3, h4, h5, h6, hgroup, 
p, ul, ol, dl, dd, dt,
figure, pre, table, img, fieldset,
blockquote, form, noscript, iframe,
hr, address {
  margin: 0;
  padding: 0;
}