:root {
  --font-main: "ColfaxWeb", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-body: var(--font-main);
  --font-headings: var(--font-main);
  --font-mono: "IBMPlex Mono", "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
  "Liberation Mono", Menlo, Courier, monospace;

  /* LIGHT */

  --light-body-background-values: 0, 0%, 95%;
  --light-body-background: hsl(var(--light-body-background-values));

  --light-text-color: hsl(0, 0%, 30%);
  --light-text-color-subtle: hsl(0, 0%, 50%);
  --light-heading-color: hsl(0, 0%, 20%);
  --light-block-color: hsl(0, 0%, 92%);
  --light-border-color: hsl(0, 0%, 85%);
  --light-strong-color: #fff;

  --light-link-color-values: 229, 100%, 30%;
  --light-link-color: hsl(var(--light-link-color-values));
  --light-link-color-hover: hsl(229, 100%, 50%);

  --light-header-background: var(--light-body-background);
  --light-header-background-blur: hsla(var(--light-body-background-values), 0.6);
  --light-header-text: var(--light-text-color);

  --light-code-default: #24292e;
  --light-code-comment: #6a737d;
  --light-code-property: #005cc5;
  --light-code-keyword: #d73a49;
  --light-code-tag: #22863a;
  --light-code-string: #032f62;
  --light-code-class: #6f42c1;

  /* DARK */

  --dark-body-background-values: 0, 0%, 10%;
  --dark-body-background: hsl(var(--dark-body-background-values));

  --dark-text-color: hsl(0, 0%, 70%);
  --dark-text-color-subtle: hsl(0, 0%, 50%);
  --dark-heading-color: hsl(0, 0%, 80%);
  --dark-block-color: hsl(0, 0%, 15%);
  --dark-border-color: hsl(0, 0%, 30%);
  --dark-strong-color: #000;

  --dark-link-color-values: 229, 100%, 66%;
  --dark-link-color: hsl(var(--dark-link-color-values));
  --dark-link-color-hover: hsl(229, 100%, 80%);

  --dark-header-background: hsl(0, 0%, 5%);
  --dark-header-background-blur: hsla(0, 0%, 5%, 0.6);
  --dark-header-text: hsl(0, 0%, 95%);

  --dark-code-default: #ABB2BF;
  --dark-code-comment: #5C6370;
  --dark-code-property: #61AFEF;
  --dark-code-keyword: #E06D75;
  --dark-code-tag: #98C379;
  --dark-code-string: #D19A66;
  --dark-code-class: #C678DD;

  /* IMPLEMENTATION, default = light */

  --body-background-values: var(--light-body-background-values);
  --body-background: var(--light-body-background);

  --text-color: var(--light-text-color);
  --text-color-subtle: var(--light-text-color-subtle);
  --heading-color: var(--light-heading-color);
  --block-color: var(--light-block-color);
  --border-color: var(--light-border-color);
  --strong-color: var(--light-strong-color);

  --link-color-values: var(--light-link-color-values);
  --link-color: var(--light-link-color);
  --link-color-hover: var(--light-link-color-hover);

  --code-default: var(--light-code-default);
  --code-comment: var(--light-code-comment);
  --code-property: var(--light-code-property);
  --code-keyword: var(--light-code-keyword);
  --code-tag: var(--light-code-tag);
  --code-string: var(--light-code-string);
  --code-class: var(--light-code-class);

  --header-background: var(--light-body-background);
  --header-background-blur: var(--light-header-background-blur);
  --header-text: var(--light-header-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-values: var(--dark-body-background-values);
    --body-background: var(--dark-body-background);
  
    --text-color: var(--dark-text-color);
    --text-color-subtle: var(--dark-text-color-subtle);
    --heading-color: var(--dark-heading-color);
    --block-color: var(--dark-block-color);
    --border-color: var(--dark-border-color);
    --strong-color: var(--dark-strong-color);
  
    --link-color-values: var(--dark-link-color-values);
    --link-color: var(--dark-link-color);
    --link-color-hover: var(--dark-link-color-hover);

    --code-default: var(--dark-code-default);
    --code-comment: var(--dark-code-comment);
    --code-property: var(--dark-code-property);
    --code-keyword: var(--dark-code-keyword);
    --code-tag: var(--dark-code-tag);
    --code-string: var(--dark-code-string);
    --code-class: var(--dark-code-class);

    --header-background: var(--dark-body-background);
    --header-background-blur: var(--dark-header-background-blur);
    --header-text: var(--dark-header-text);
  }
}

body.light {
  --body-background-values: var(--light-body-background-values);
  --body-background: var(--light-body-background);

  --text-color: var(--light-text-color);
  --text-color-subtle: var(--light-text-color-subtle);
  --heading-color: var(--light-heading-color);
  --block-color: var(--light-block-color);
  --border-color: var(--light-border-color);
  --strong-color: var(--light-strong-color);

  --link-color-values: var(--light-link-color-values);
  --link-color: var(--light-link-color);
  --link-color-hover: var(--light-link-color-hover);

  --code-default: var(--light-code-default);
  --code-comment: var(--light-code-comment);
  --code-property: var(--light-code-property);
  --code-keyword: var(--light-code-keyword);
  --code-tag: var(--light-code-tag);
  --code-string: var(--light-code-string);
  --code-class: var(--light-code-class);

  --header-background: var(--light-body-background);
  --header-background-blur: var(--light-header-background-blur);
  --header-text: var(--light-header-text);
}

body.dark {
  --body-background-values: var(--dark-body-background-values);
  --body-background: var(--dark-body-background);

  --text-color: var(--dark-text-color);
  --text-color-subtle: var(--dark-text-color-subtle);
  --heading-color: var(--dark-heading-color);
  --block-color: var(--dark-block-color);
  --border-color: var(--dark-border-color);
  --strong-color: var(--dark-strong-color);

  --link-color-values: var(--dark-link-color-values);
  --link-color: var(--dark-link-color);
  --link-color-hover: var(--dark-link-color-hover);

  --code-default: var(--dark-code-default);
  --code-comment: var(--dark-code-comment);
  --code-property: var(--dark-code-property);
  --code-keyword: var(--dark-code-keyword);
  --code-tag: var(--dark-code-tag);
  --code-string: var(--dark-code-string);
  --code-class: var(--dark-code-class);

  --header-background: var(--dark-body-background);
  --header-background-blur: var(--dark-header-background-blur);
  --header-text: var(--dark-header-text);
}
