#color
  .rel
    #color-image.visible
#color-cover

header.site-header
  .header-inner.container
    .navigation-items
      a.site-title( href='/' )
        .logo
          include logo_svg
        span.title Jonas Lekevicius
      nav
        ul
          li.menu-journal: a( href='/journal' ) Journal
          li.menu-journal: a( href='/profile' ) Profile

    a.menu-button( href='#menu' )
      .bar.first
      .bar.second
      .bar.third
      .bar.fourth

  .page-title.container
    h1 Title
    p Description

#spacer
