#color
  .rel
    #color-image.visible
#color-cover

header.site-header
  .header-inner.container
    .navigation-items
      a.site-title( href='/' )
        .logo
          include logo_svg
      nav
        ul
          li.menu-title: a( href='/' ) Jonas Lekevicius
          li.menu-journal: a( href='/journal' ) Journal
          li.menu-profile.menu-current: a( href='/profile' ) Profile

    a.menu-button( href='#menu' )
      .bar.first
      .bar.second
      .bar.third
      .bar.fourth

  .page-title.container
    if page.custom-title
      != page.custom-title
    else
      if page.title
        h1
          != page.title
      if page.description
        p
          != page.description

#spacer
