for value, key in page
  if typeof value == 'string'
    if value.substring(0, 3) == 'o \\'
      - page[key] = value.substring(3)
    else if value.substring(0, 2) == 'o '
      - page[key] = value.substring(2)

- hue = 0
unless page.color
  - colorSeed = ( page.title ? page.title : site.url + page.url )
  - hue = parseInt("0x"+ helpers.crypto.createHash('md5').update(colorSeed).digest('hex').slice(0,4)) / 65536.0
  - page.color = helpers.color().hsl( Math.floor( hue * 360 ), 75, 40 ).hexString()
else
  - hue = helpers.color(page.color).hslArray()[0] / 360

if page.darkHeader
  - page.coverColor = helpers.color().hsl( Math.floor( hue * 360 ), 75, 40 ).hexString()
else
  - page.coverColor = helpers.color().hsl( Math.floor( hue * 360 ), 50, 90 ).hexString()
  
- section = page.url.toLowerCase().split('/')[1]
if section == 'journal'
  - page.section = 'journal'
else if section == 'projects'
  - page.section = 'projects'
else if section == 'profile'
  - page.section = 'profile'
else 
  - page.section = 'home'

if helpers.fs && file
  - originalFilePath = file.history[0]

  - cssPath = originalFilePath.replace( /\.(md|jade)$/, '.styl' )
  if helpers.fs.existsSync( cssPath )
    - baselessPath = cssPath.split('/content/')[1].replace('.styl', '')
    if baselessPath.indexOf('pages') > -1
      - page.customStylesheet = baselessPath.replace('pages', '')
    - match = helpers.rePostName.exec(baselessPath)
    if match
      - page.customStylesheet = "/journal/" + match[1] +"/"+ match[2] +"/"+ match[3] +"/"+ match[4]
    if page.customStylesheet
      - page.customStylesheet = page.customStylesheet + '/style.css'

  - jsPath = originalFilePath.replace( /\.(md|jade)$/, '.coffee' )
  if helpers.fs.existsSync( jsPath )
    - baselessPath = jsPath.split('/content/')[1].replace('.coffee', '')
    if baselessPath.indexOf('pages') > -1
      - page.customScript = baselessPath.replace('pages', '')
    - match = helpers.rePostName.exec(baselessPath)
    if match
      - page.customScript = "/journal/" + match[1] +"/"+ match[2] +"/"+ match[3] +"/"+ match[4]
    if page.customScript
      - page.customScript = page.customScript + '/script.js'

//- path_components = current_page.url.split('/')
//- @active_navigation_item = path_components.size > 0 ? path_components[1] : 'home'


