unless page.color
  - colorSeed = ( page.title ? page.title : site.url + page.url )
  - hue = parseInt("0x"+ helpers.crypto.createHash('md5').update(colorSeed).digest('hex').slice(0,4)) / 65536.0
  - page.color = helpers.color().hsl( Math.floor( hue * 360 ), 75, 30 ).hexString()
  

if helpers.fs && file
  - originalFilePath = file.history[0]

  - cssPath = originalFilePath.replace( /\.(md|jade)$/, '.styl' )
  if helpers.fs.existsSync( cssPath )
    - baselessPath = cssPath.split('/content/')[1].replace('.styl', '')
    if baselessPath.indexOf('pages') > -1
      - page.customStylesheet = baselessPath.replace('pages', '')
    - match = helpers.rePostName.exec(baselessPath)
    if match
      - page.customStylesheet = "/journal/" + match[1] +"/"+ match[2] +"/"+ match[3] +"/"+ match[4]
    if page.customStylesheet
      - page.customStylesheet = page.customStylesheet + '/style.css'

  - jsPath = originalFilePath.replace( /\.(md|jade)$/, '.coffee' )
  if helpers.fs.existsSync( jsPath )
    - baselessPath = jsPath.split('/content/')[1].replace('.coffee', '')
    if baselessPath.indexOf('pages') > -1
      - page.customScript = baselessPath.replace('pages', '')
    - match = helpers.rePostName.exec(baselessPath)
    if match
      - page.customScript = "/journal/" + match[1] +"/"+ match[2] +"/"+ match[3] +"/"+ match[4]
    if page.customScript
      - page.customScript = page.customScript + '/script.js'

//- path_components = current_page.url.split('/')
//- @active_navigation_item = path_components.size > 0 ? path_components[1] : 'home'

//- @menu = {
//-   'journal' => '/journal',
//-   'projects' => '/projects',
//-   'portfolio' => '/portfolio',
//-   'profile' => '/profile'
//- }
//- @possible_menu_keys = @menu.keys
