body header {
  padding: 12px 0;
  display: flex;
  background-color: var(--header-background);
  color: var(--header-text);
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 48px;
  box-shadow: 0 0 0 rgba(0,0,0,0.1);
  transition: height 0.5s cubic-bezier(0.86, 0, 0.07, 1), box-shadow 0.5s;
  z-index: 10;
}
@supports (backdrop-filter: blur(10px)) {
  body header {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--header-background-blur);
  }
}
body header.open {
  height: 244px;
  /* Line is 48px */
  box-shadow: 0 4px 16px rgba(0,0,0,0.12);
}
header .menu-toggle {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  position: relative;
  color: currentColor;
}
header .menu-toggle .line {
  position: absolute;
  width: 16px;
  height: 2px;
  left: 4px;
  background: currentColor;
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
header .menu-toggle .top-line {
  top: 7px;
}
header .menu-toggle .bottom-line {
  top: 15px;
}
header.open .menu-toggle .top-line {
  top: 7px;
  transform: translate(0, 4px) rotate(135deg)
}
header.open .menu-toggle .bottom-line {
  top: 15px;
  transform: translate(0, -4px) rotate(-135deg)
}
header .container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
header a {
  text-decoration: none;
  border-bottom: none;
}
header h1, header h3 {
  margin: 0;
  font-size: 1rem;
  line-height: inherit;
}
header h1 a, header h3 a {
  display: flex;
  align-items: center;
  color: currentColor;
}
header h1 svg, header h3 svg,
header h1 span, header h3 span {
  display: block;
}
header h1 span, header h3 span {
  margin-left: 12px;
}
header p.tagline {
  margin-left: 36px;
  margin-bottom: 8px;
  max-width: 10em;
  margin-top: 12px;
  opacity: 0;
  transition: margin 0.3s, opacity 0.2s;
}
header.open p.tagline {
  margin-top: 0;
  opacity: 0.8;
}
header nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}
header nav ul li {
  margin: 12px 0 0 0;
  display: block;
  transition: margin 0.3s, opacity 0.5s;
  opacity: 0;
}
header nav ul li:nth-child(1) {
  transition-delay: 0.1s;
}
header nav ul li:nth-child(2) {
  transition-delay: 0.2s;
}
header nav ul li:nth-child(3) {
  transition-delay: 0.3s;
}
header nav ul li:nth-child(4) {
  transition-delay: 0.4s;
}
header.open nav ul li {
  margin-top: 0;
  opacity: 1;
}
header nav ul li a {
  color: currentColor;
  color: var(--text-color-subtle);
  display: block;
  padding: 12px 0 12px 36px;
}
header nav ul li a[aria-current] {
  color: var(--heading-color);
}

@media screen and (min-width: 560px) {
  body header {
    padding: 16px 0;
    height: 60px;
    transition: none;
  }
  body header.open {
    height: 60px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  header .menu-toggle {
    display: none;
  }
  header p.tagline {
    display: none;
  }
  header .container {
    flex-direction: row;
  }
  header nav ul {
    flex-direction: row;
  }
  header nav ul li, header.open nav ul li {
    margin: 12px 0 0 0;
    transition: none;
    opacity: 1;
  }
  header nav ul li a {
    padding: 0;
  }
  header h3 span {
    margin-left: 12px;
  }
  header nav ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  header nav ul li {
    margin: 0;
    display: block;
    /* font-size: 16px;
    line-height: 24px; */
    margin-left: 22px;
  }
}

@media screen and (min-width: 799px) {
  header.homepage {
    padding: 80px 0 0 0;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    position: static;
    transition: none;
    height: auto;
  }
  header.homepage h1 {
    font-size: 24px;
    line-height: 32px;
  }
  header.homepage h1 span {
    margin-left: 16px;
  }
  header.homepage h1 svg {
    width: 32px;
    height: 32px;
  }
  header.homepage nav ul li {
    font-size: 24px;
    line-height: 32px;
    margin-left: 32px;
  }
}