@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');

@media screen and (min-width: 560px) {
  body.projects-nyt main {
    padding-top: 0;
  }
}

body.projects-nyt main {
  font-size: 14px;
  line-height: 24px;
  padding-top: 0;
}

body.projects-nyt {
  background: #E9E9E9;
}

body.projects-nyt h1 {
  font-family: 'Noticia Text', serif;
  font-weight: normal;
}

body.projects-nyt .page-header {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

body.projects-nyt .page-header-append {
  display: none;
}

body.projects-nyt .page-lead {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 32px;
  max-width: 608px;
}

body.projects-nyt h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 8px 0;
  text-transform: uppercase;
  color: #999;
}
body.projects-nyt h4 strong {
  color: #4d4d4d;
  margin-right: 8px;
}

body.projects-nyt header {
  position: static;
  background: none;
}

body.projects-nyt .week-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "mo tu we" "th fr sa" "su com com";
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 16px;
}

body.projects-nyt .week-row .cover:nth-child(1) { grid-area: mo; }
body.projects-nyt .week-row .cover:nth-child(2) { grid-area: tu; }
body.projects-nyt .week-row .cover:nth-child(3) { grid-area: we; }
body.projects-nyt .week-row .cover:nth-child(4) { grid-area: th; }
body.projects-nyt .week-row .cover:nth-child(5) { grid-area: fr; }
body.projects-nyt .week-row .cover:nth-child(6) { grid-area: sa; }
body.projects-nyt .week-row .cover:nth-child(7) { grid-area: su; }
body.projects-nyt .week-row .commentary { grid-area: com; }

@media screen and (min-width: 720px) {
  body.projects-nyt main, body.projects-nyt .container {
    max-width: 680px;
  }
  
  body.projects-nyt .week-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mo tu we th fr" "sa su com com com";
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 16px;
  }

  body.projects-nyt h1 {
    margin-left: -16px;
  }
}

body.projects-nyt .desktop-notice {
  margin-top: 24px;
  background: #FCEFAB;
  padding: 8px 16px;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  body.projects-nyt .desktop-notice {
    display: none;
  }

  body.projects-nyt .page-header-text {
    flex-grow: 1;
  }

  body.projects-nyt .page-header-append {
    display: block;
    flex-shrink: 0;
  }

  body.projects-nyt .page-header-append img {
    max-width: 248px;
  }

  body.projects-nyt main, body.projects-nyt .container {
    max-width: 1280px;
  }

  body.projects-nyt .week-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 264px;
    grid-template-areas: "mo tu we th fr sa su com";
    column-gap: 16px;
    row-gap: 0;
    margin-bottom: 16px;
  }

  body.projects-nyt .commentary {
    margin-left: 16px;
  }
}

body.projects-nyt .page-legend {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

body.projects-nyt .page-legend li {
  margin: 0;
  font-weight: 600;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

body.projects-nyt .page-legend li .dot-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
  margin-right: 8px;
}

body.projects-nyt .notes {
  margin: 24px 0 48px 0;
  font-size: 12px;
  line-height: 20px;
  max-width: 608px;
}

body.projects-nyt .cover a {
  display: flex;
}

body.projects-nyt .cover.empty {
  background: #fff;
  opacity: 0.4;
  border-radius: 4px;
  display: flex;
}

body.projects-nyt .week-future .cover.empty {
  width: 100%;
  padding-bottom: 180%;
}

body.projects-nyt .cover.empty img {
  margin-bottom: 0;
}

body.projects-nyt .commentary p {
  margin: 0;
}

body.projects-nyt .commentary p span {
  font-weight: 600;
}
body.projects-nyt .page-legend li.ir,
body.projects-nyt .commentary p span.ir {
  color: #547E53;
}
body.projects-nyt .page-legend li.ir .dot-icon {
  background: #547E53;
}
body.projects-nyt .page-legend li.im,
body.projects-nyt .commentary p span.im {
  color: #A95813;
}
body.projects-nyt .page-legend li.im .dot-icon {
  background: #A95813;
}
body.projects-nyt .page-legend li.dp,
body.projects-nyt .commentary p span.dp {
  color: #0026A8;
}
body.projects-nyt .page-legend li.dp .dot-icon {
  background: #0026A8;
}
body.projects-nyt .page-legend li.cv,
body.projects-nyt .commentary p span.cv {
  color: #A80000;
}
body.projects-nyt .page-legend li.cv .dot-icon {
  background: #A80000;
}

body.projects-nyt .gatsby-image-wrapper {
  width: 100%;
}