body
  font-family font_body
  font-size font_size_base
  line-height line_height_base
  font-weight 400

  @media screen_small_min
    font-size font_size_base * 1.0
  @media screen_medium_min
    font-size font_size_base * 1.1

body, select, input, textarea
  color #444

#content
  // text-shadow 0 0 1px rgba(0, 0, 0, 0.01)
  -webkit-font-smoothing antialiased
  transition all 0.6s
  transition-property opacity, transform
  transition-delay 150ms
  padding-bottom 80px
  
  &.faded
    opacity 0
    transform translateY(120px)
    
.col-content
  // make-tiny-column 12
  make-small-column 12
  make-medium-column 9
  make-large-column 7

.spaced-1
  margin-top 1em
  margin-bottom 1em
.spaced-2
  margin-top 2em
  margin-bottom 2em
  
.spaced-1-bottom
  margin-bottom 1em
.spaced-1-top
  margin-top 2em

// Body text

a
  color key_color
  text-decoration none

  &:hover
    // text-decoration underline
  &:focus
    tab-focus()
  &:hover, &:active
    outline none

  &[rel='reference']
    margin 0 5px

  &.contains-image, img
    border none
    
  &.button
    padding 0.5em
    border 1px solid key_color
    border-radius 4px
    font-weight 500

p
  margin: 1.2em 0 1.5em 0;

  &.error
    font-size 1.6em
    line-height 1.4em
    margin-bottom 1em

  &.lead
    margin-bottom 1.4em
    font-size 1.3em

// Emphasis & misc

cite
  font-style normal

// Headings

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  font-family font_heading
  font-weight normal
  line-height 1.3em
  font-weight 600
  margin-top 1em
  margin-bottom 0.4em

  small
    font-weight 400
    line-height 1
    color #888

h1, .h1
  font-size 2.6em
  font-weight 300
  margin-top 0.4em
  small
    font-weight 300

h2, .h2
  font-size 2em

h3, .h3
  font-size 1.6em

h4, .h4
  font-size 1.4em

h5, .h5
  font-size 1.2em
  font-weight 400

h6, .h6
  font-size 0.9em
  text-transform uppercase
  letter-spacing 1px
  font-weight 500

h1, h2, h3, .h1, .h2, .h3
  small
    font-size 65%

h4, h5, h6, .h4, .h5, .h6
  small
    font-size 80%

// Media

img
  max-width 100%
  height auto
  border-radius 2px

  &.rounded
    border-radius 10px
  &.circle
    border-radius 50%
  &.responsive
    responsive-img()
    
p img:first-child
  margin-left auto
  margin-right auto
  responsive-img()

.video
  position relative
  padding-bottom 56.25%
  height 0
  overflow hidden

  iframe, object, embed
    absolute top left
    size 100%

// Lists

ul, ol
  margin 0.8em 0 1.2em 1.4em

  li
    margin-top 0.3em
    margin-bottom 0.3em
    padding-left 0.4em

  &.unstyled
    padding-left 0
    list-style none
    margin-left 0
    li
      padding-left 0

  &.inline
    padding-left 0
    list-style none
    margin-left 0
    > li
      display inline-block
      padding-right 0.8em

  ul, ol
    margin-top 0.3em
    margin-bottom 0.3em

ul
  list-style-type disc

ol
  list-style-type decimal
  margin-left 1.2em

// Description Lists

dl
  margin-bottom 1.2em

  &.horizontal
    @media screen_medium_min
      dt
        float left
        width 30%
        clear left
        text-align right
        text-overflow()

      dd
        margin-left 35%
        clearfix()

dt
  font-weight bold
  margin-top 1em

dd
  margin-left 0

// Blockquotes

blockquote
  padding 0.4em 10px 0.4em 10px
  margin 0 -12px 1.2em -12px
  border-left 2px solid #999

  @media screen_large_min
    margin-left -22px
    margin-right -22px
    padding-left 20px
    padding-right 20px

  p
    font-style italic
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0
    &:last-of-type
      margin-bottom 0.5em

    em
      font-style normal

  small
    display block
    line-height 1.4
    color #777

    &:before
      content '\2014 \00A0 \00A0'

  &.feature
    border-left 0
    margin 30px 0
    padding-left 0
    padding-right 0

    p
      text-align center
      font-size 1.3em

    @media screen_large_min
      margin-left -45px
      margin-right -45px
      p
        font-size 1.4em

  &.pull-left
    margin-right 30px

  &.pull-right
    border-right 2px solid #999
    border-left 0
    margin-left 30px

    p, small
      text-align right

    small
      &:before
        content: ''
      &:after
        content: '\00A0 \00A0 \2014'

q:before, q:after, blockquote:before, blockquote:after
  content ""

// Misc

hr
  box-sizing content-box
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 2em 0
  padding 0
  
  &.subtle
    margin-left auto
    margin-right auto
    width 40px
    border-top 1px dashed #999

ins
  background-color #ff9
  color #000
  text-decoration none

mark
  background-color #ff9
  color #000

del
  text-decoration line-through

dfn
  font-style italic

b, strong, th
  font-weight 600

i, em
  font-style italic

small
  font-size 80%

sub, sup
  font-size 75%
  padding 0 3px

sup
  vertical-align super

sub
  vertical-align sub

abbr[title], dfn[title]
  border-bottom 1px dotted
  cursor help
  &.initialism
    font-size 90%
    text-transform uppercase

address
  display block
  margin-bottom 2em
  font-style normal
  line-height 1.4

sup
  padding 0
  a
    margin 0
    padding 0 4px 1em 4px
    display inline-block
