// Typography

font_heading = "colfax", "Lucida Grande", "Lucida Sans", Verdana, sans-serif
font_body = "colfax", "Futura", Georgia, sans-serif
font_mono = "mplus-1mn", Consolas, "Lucida Console", Monaco, monospace

font_size_base = 14px
font_size_large = ceil(font_size_base * 1.1)
font_size_small = ceil(font_size_base * 0.9)
text_color = #444
key_color = #95de75

line_height_base = 1.7
line_height_computed = floor(font_size_base * line_height_base)

// Media Queries, because Stylus is not so awesome

screen_small_width = 480px
screen_medium_width = 768px
screen_large_width = 1020px

screen_small_min = "all and (min-width: " + screen_small_width + ")"
screen_medium_min = "all and (min-width: " + screen_medium_width + ")"
screen_large_min = "all and (min-width: " + screen_large_width + ")"

screen_tiny_max_width = screen_small_width - 1px
screen_small_max_width = screen_medium_width - 1px
screen_medium_max_width = screen_large_width - 1px

screen_tiny_max = "all and (max-width: " + screen_tiny_max_width + ")"
screen_small_max = "all and (max-width: " + screen_small_max_width + ")"
screen_medium_max = "all and (max-width: " + screen_medium_max_width + ")"

screen_tiny_only = screen_tiny_max
screen_small_only = "all and (min-width: " + screen_small_width + ") and (max-width: " + screen_small_max_width + ")"
screen_medium_only = "all and (min-width: " + screen_medium_width + ") and (max-width: " + screen_medium_max_width + ")"
screen_large_only = screen_large_min

// (default tiny)---(tiny_max) 480 (small_min)---small---(small_max) 768 (medium_min)---medium---(medium-max) 1024 (large-min)---large

content_max_width = 960px

menu-full-width = 640px
menu-full = "all and (min-width: " + menu-full-width + ")"

// Grid

grid_columns = 12
grid_gutter = 30px

// Code


